:root {
	font-family: "Roboto Mono", monospace;
	font-family: "Poppins", sans-serif;
	--dark-blue: #042d57;
	--dark-green: #379683;
	--green: #5cdb95;
	--light-green: #8ee4af;
	--white: #edf5e1;
	--accent: #07d8a7;
	--a: #c40000;
	--accent-color: #349188;
	--accent-color: #f87707;
	--accent-color: #e22532;
	--accent-color: #55dae1;
	--accent-color: #2daae9;
	--accent-color: #fccc0e;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}

header span {
	color: var(--accent-color);
}

nav {
	display: flex;
	align-items: center;
}

nav li {
	list-style-type: none;
	margin-left: 30px;
}
nav li a {
	text-decoration: none;
	color: var(--accent-color);
}
