:root {
	font-family: "Roboto Mono", monospace;
	font-family: "Poppins", sans-serif;
	--dark-blue: #042d57;
	--dark-green: #379683;
	--green: #5cdb95;
	--light-green: #8ee4af;
	--white: #edf5e1;
	--accent: #07d8a7;
	--a: #c40000;
	--accent-color: #349188;
	--accent-color: #f87707;
	--accent-color: #e22532;
	--accent-color: #55dae1;
	--accent-color: #2daae9;
	--accent-color: #fccc0e;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
}

header span {
	color: var(--accent-color);
}

nav {
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
}

nav ul li {
	list-style-type: none;
	margin-left: 10px;
}
nav ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 12px;
	border-radius: 5px;
	border: solid 1px transparent;
	transition: all 0.25s ease;
}

nav ul li a:hover {
	border: solid 1px var(--accent-color);
	color: var(--accent-color);
}

.menu-btn {
	cursor: pointer;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	display: none;
	z-index: 999;
}

.menu-btn:hover {
	color: var(--accent-color);
}

@media (max-width: 955px) {
	.menu-btn {
		display: flex;
	}
	nav ul {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: var(--light-bg-color);
		z-index: 100;
		display: block;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}

	nav ul.active {
		left: 0;
	}

	nav ul li a {
		display: inline-block;
		margin: 18px 0px;
		font-size: 24px;
	}
}

@media (max-width: 550px) {
	header {
		padding: 10px 25px;
	}
}

@media (max-width: 500px) {
	header {
		padding: 10px 20px;
	}
	header h1 {
		font-size: 30px;
	}
}
